@charset "UTF-8";
@-webkit-keyframes ScrollPic {
  0% {
    left: -18751px;
  }
  100% {
    left: 0px;
  }
}
.box {
  width: 100%;
}
.box .box-content {
  width: 100%;
  background: url("../imagepc/diwen.png") no-repeat -250px -250px, url("../imagepc/diwen.png") no-repeat -250px 900px, url("../imagepc/diwen.png") no-repeat 130% -250px, url("../imagepc/diwen.png") no-repeat 130% 900px, url("../imagepc/diwen.png") no-repeat 5% 60%, url("../imagepc/diwen.png") no-repeat 95% 60%;
  padding-top: 47px;
}
.box .box-content .content {
  width: 1155px;
  margin: 0 auto;
}
.banner {
  width: 100%;
}
.banner img {
  display: block;
  width: 100%;
}
.scrollPics-box {
  width: 100%;
  height: 446px;
  position: relative;
}
.scrollPics-box > i {
  position: absolute;
  display: block;
  height: 488px;
  width: 30px;
  top: -14px;
  z-index: 1;
}
.scrollPics-box > i:nth-of-type(1) {
  left: -15px;
  background: url("../imagepc/left.png") no-repeat;
  background-size: 100% 100%;
}
.scrollPics-box > i:nth-of-type(2) {
  right: -15px;
  background: url("../imagepc/right.png") no-repeat;
  background-size: 100% 100%;
}
.scrollPics-box > b {
  position: absolute;
  display: block;
  height: 100%;
  width: 20px;
  top: 0;
  z-index: 4;
}
.scrollPics-box > b:nth-of-type(1) {
  left: 0px;
  background: url("../imagepc/left-z.png") no-repeat;
  background-size: 100% 100%;
}
.scrollPics-box > b:nth-of-type(2) {
  right: 0px;
  background: url("../imagepc/right-z.png") no-repeat;
  background-size: 100% 100%;
}
.scrollPics-content {
  width: 100%;
  height: 446px;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
}
.scrollPics {
  width: 100%;
  height: 446px;
  overflow: hidden;
  position: relative;
}
.scrollPics ul {
  width: 19907px;
  height: 446px;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -18751px;
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
  -webkit-animation: ScrollPic 50s linear infinite;
  -moz-animation: ScrollPic 50s linear infinite;
  -o-animation: ScrollPic 50s linear infinite;
  animation: ScrollPic 500s linear infinite;
}
.scrollPics ul:hover {
  animation-play-state: paused;
  cursor: pointer;
}
.scrollPics ul li {
  float: left;
  height: 100%;
}
.scrollPics ul li img {
  display: block;
  height: 100%;
}
.video-box {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
}
.video-box .video-box-gongkai {
  width: 100%;
  margin-top: 27px;
  padding-top: 34px;
}
.video-box .video-box-gongkai img {
  display: block;
  margin: 0 auto;
}
.video-box .ideo-box-pics {
  width: 100%;
  height: 547px;
  box-sizing: border-box;
  position: relative;
}
.video-box .ideo-box-pics .ideo-box-pics-footer {
  width: 100%;
  height: 8px;
  background: rgba(150, 95, 57, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 1;
}
.video-box .ideo-box-pics .ideo-box-pics-footer i {
  display: block;
  width: 100%;
}
.video-box .ideo-box-pics .ideo-box-pics-footer i img {
  display: block;
  width: 100%;
}
.video-box .ideo-box-pics ul {
  width: 100%;
  overflow: hidden;
  padding: 36px 100px 0;
}
.video-box .ideo-box-pics ul li {
  width: 20%;
  float: left;
  text-align: center;
  margin-bottom: 54px;
}
.video-box .ideo-box-pics ul li i {
  display: block;
  width: 91px;
  height: 104px;
  margin: 0 auto;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}
.video-box .ideo-box-pics ul li i img {
  display: block;
  width: 100%;
  height: 100%;
}
.video-box .ideo-box-pics ul li i:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}
.video-box .ideo-box-pics ul li div {
  width: 100%;
  height: 60px;
  background: url("../imagepc/biaoti.png") no-repeat;
  background-size: auto 85%;
  background-position: 0 10px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10px;
}
.video-box .ideo-box-pics ul li div.active {
  line-height: 60px;
  margin-top: -10px;
}
.video-box .ideo-box-pics ul li div p {
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 2px;
}
.footer {
  width: 100%;
  margin-top: 108px;
}
.footer img {
  display: block;
  width: 100%;
}
