@charset "UTF-8";
@import "./mixin";
 @-webkit-keyframes rotate{from{-webkit-transform: rotate(0deg)}
     to{-webkit-transform: rotate(360deg)}
 }
 @-moz-keyframes rotate{from{-moz-transform: rotate(0deg)}
     to{-moz-transform: rotate(359deg)}
 }
 @-o-keyframes rotate{from{-o-transform: rotate(0deg)}
     to{-o-transform: rotate(359deg)}
 }
 @keyframes rotate{from{transform: rotate(0deg)}
     to{transform: rotate(359deg)}
 }

@keyframes scales{
  0%{transform: scale(1.1)}
  50%{transform: scale(1)}
  100%{transform: scale(1.1)}
}
@-webkit-keyframes topsY{
  0%{top: 50%}
  50%{top: 55%}
  100%{top: 50%}
}
 .row-tishi {
   position: fixed;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   margin: auto;
   background: rgba(0,0,0,.8);
   z-index: 2;
   &.active {
     opacity: 0;
     transition: all .3s;
   }
   &>img {
     display: block;
     width: 180rem/@size;
     height: 200rem/@size;
     position: absolute;
     left: 0;
     top: -250rem/@size;
     right: 0;
     bottom: 0;
     margin: auto;
   }
   b {
     display: block;
     width: 50rem/@size;
     height: 50rem/@size;
     //background: url("../image/guan.png") no-repeat;
     //background-size: 100% 100%;
     position: absolute;
     top: 60%;
     transform: translate(-50%, -50%);
     left: 50%;
     img {
       display: block;
       width: 100%;
       height: 100%;
     }
   }
   p {
     color: #fff;
     font-size: 18px;
     font-weight: 500;
     position: absolute;
     top: 50%;
     transform: translate(-50%, -50%);
     left: 50%;
     white-space:nowrap;
   }
 }
 .loading-box {
   position: fixed;
   left: 0;
   top: 0;
   bottom: 0;
   right: 0;
   margin: auto;
   z-index: 1;
   &.active {
     opacity: 0;
     transition: all 1s;
   }
   img {
     display: block;
     width: 100%;
     height: 100%;
   }
   i {
     width: 100rem/@size;
     height: 100rem/@size;
     position: absolute;
     left: 0;
     top: 0;
     right: 0;
     bottom: 0;
     margin: auto;
     img {
       display: block;
       width: 100%;
       height: 100%;
     }
   }
   b {
     font-size: 30rem/@size;
     transform: rotate(90deg);
     position: absolute;
     width: 50rem/@size;
     height: 20rem/@size;
     left: -200rem/@size;
     top: 0;
     right: 0;
     bottom: 0;
     margin: auto;
   }
 }
.total-box {
  opacity: 0;
  .music-box {
    &.active {
      -webkit-transition-property: -webkit-transform;
     -webkit-transition-duration: 1s;
     -moz-transition-property: -moz-transform;
     -moz-transition-duration: 1s;
     -webkit-animation: rotate 3s linear infinite;
     -moz-animation: rotate 3s linear infinite;
     -o-animation: rotate 3s linear infinite;
     animation: rotate 3s linear infinite;
    }
    width: 80rem/@size;
    height: 80rem/@size;
    position: fixed;
    z-index: 10;
    right: 20rem/@size;
    bottom: 20rem/@size;
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
    audio {
      opacity: 0;
    }
  }
  .video-box {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.8);
    z-index: 999;
    &.active {
      background: #000;
    }
    video {
      &.active {
        display: block;
        width: 100%;
        -webkit-transform:translateY(-50%) rotate(0deg);
        -moz-transform:translateY(-50%) rotate(0deg);
        -ms-transform:translateY(-50%) rotate(0deg);
        -o-transform:translateY(-50%) rotate(0deg);
        transform:translateY(-50%) rotate(0deg);
      }
      -webkit-transform:translateY(-50%) rotate(90deg);
      -moz-transform:translateY(-50%) rotate(90deg);
      -ms-transform:translateY(-50%) rotate(90deg);
      -o-transform:translateY(-50%) rotate(90deg);
      transform:translateY(-50%) rotate(90deg);
      position: absolute;
      top: 50%;
      visibility: visible;
    }
  }
  width: 750rem / @size;
  .content-box {
    width: 100%;
    .content-box-pics {
      width: 100%;
      li {
        width: 100%;
        position: relative;
        &.ended {
          .content-box-pics-item-box {
            b {
              opacity: 0;
              transition: all .5s;
            }
          }

        }
        div {
          width: 100%;
          img {
            display: block;
            width: 100%;
          }
          &.content-box-pics-item-box {
            i {
              position: absolute;
              bottom: 560rem/@size;
              right: 50rem/@size;
              width: 240rem/@size;
              -webkit-transition-property: -webkit-transform;
              -webkit-transition-duration: 1s;
              -moz-transition-property: -moz-transform;
              -moz-transition-duration: 5s;
              -webkit-animation: scales 3s linear infinite;
              -moz-animation: scales 3s linear infinite;
              -o-animation: scales 3s linear infinite;
              animation: scales 3s linear infinite;
              img {
                display: block;
                width: 100%;
              }
            }
            b {
              position: absolute;
              bottom: 500rem/@size;
              left: 50rem/@size;
              width:400rem/@size;
              opacity: 1;
              transition: all 3s;
              img {
                display: block;
                width: 100%;
              }
            }
            a {
              position: absolute;
              bottom: 800rem/@size;
              right: 50rem/@size;
              width:100rem/@size;
              img {
                display: block;
                width: 100%;
              }
            }
            //&.a1 {
            //  b {
            //    opacity: 1;
            //    transition: all .5s;
            //  }
            //}
            &.a2 {
              i {
                bottom: 880rem/@size;
              }
              b {
                bottom: 1160rem/@size;

              }
              a {
                bottom: 1100rem/@size;
              }
            }
            &.a3 {
              b {
                width: 650rem/@size;
                bottom: 1400rem/@size;
              }
            }
            &.a4 {
              i {
                bottom: 400rem/@size;
              }
              b {
                bottom: 600rem/@size;
                width: 500rem/@size;
              }
              a {
                bottom: 600rem/@size;
              }
            }
            &.a5 {
              b {
                width: 450rem/@size;
                bottom: 550rem/@size;
              }
            }
            &.a6 {
              i {
                bottom: 700rem/@size;
              }
              b {
                bottom: 700rem/@size;
                left: 100rem/@size;
                width: 360rem/@size;
              }
              a {
                bottom: 950rem/@size;
              }
            }
            &.a7 {
              i {
                bottom: 400rem/@size;
                right: 300rem/@size;
              }
              a {
                bottom: 400rem/@size;
                left: 120rem/@size;
              }
            }
            &.a8 {
              b {
                width: 380rem/@size;
                bottom: 1860rem/@size;
                left: 145rem/@size;
              }
            }
            &.a9 {
              b {
                width: 520rem/@size;
                bottom: 1150rem/@size;
                left: 50rem/@size;
              }
            }
            &.a10{
              i {
                bottom: 200rem/@size;
                right: 300rem/@size;
              }
              a {
                bottom: 200rem/@size;
                left: 120rem/@size;
              }
            }
            &.a11 {
              i {
                bottom: 0rem/@size;
                right: 200rem/@size;
              }
              a {
                bottom: 120rem/@size;
                right: 100rem/@size;
              }
              b {
                width: 300rem/@size;
                bottom: 120rem/@size;
                left: 40rem/@size;
              }
            }
            &.a12 {
              i {
                bottom: 0rem/@size;
                right: 100rem/@size;
                z-index: 1;
              }
              a {
                bottom: 200rem/@size;
                right: 100rem/@size;
              }
              b {
                width: 450rem/@size;
                bottom: 100rem/@size;
                left: 40rem/@size;
              }
            }
            &.a13 {
              i {
                bottom: 80rem/@size;
                right: 100rem/@size;
              }
              a {
                bottom: 100rem/@size;
                right: 350rem/@size;
              }
            }
          }
        }
      }
    }
  }
  .home-box {
    width: 100%;
    .juan-box {
      width: 100%;
      position: relative;
      .juan-back {
        width: 100%;
        img {
          display: block;
          width: 100%;
        }
      }
      
      .juan-text-brother {
        width: 100%;
        height: 400rem/@size;
        position: absolute;
        bottom: 0;
        left: 0;
        &.ended + .juan-zhanwei {
          .juan-text {
            .juan-text-box {
              height: 0rem / @size;
              transition: all 3s;
            }
          }
        }
      }
      .juan-zhanwei {
        width: 520rem / @size;
        height: 1400rem / @size;
        position: absolute;
        bottom: 100rem / @size;
        left: 50%;
        margin-left: -260rem / @size;
      }
      .juan-text {
        position: absolute;
        left: 50%;
        bottom: 100rem / @size;
        margin-left: -260rem / @size;
        width: 520rem / @size;
        transition: all 3s;
        overflow: hidden;
        padding: 0 10rem/@size;
        .juan-text-box {
          width: 100%;
          height: 1400rem / @size;
          transition: all 3s;
          // &.ended {
          //   height: 0rem / @size;
          //   transition: all 3s;
          // }
          //position: relative;
          .home-img-box {
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
              display: block;
              width: 500rem / @size;
              height: 1400rem / @size;
              position: absolute;
              left: 50%;
              bottom: 0rem / @size;
              margin-left: -250rem / @size;
            }
          }
          i {
            display: block;
            position: absolute;
            width: 520rem / @size;
            height: 40rem / @size;
            background: url("../image/b-l.png") no-repeat;
            background-size: 100% 100%;
            z-index: 1;
            &:nth-of-type(1) {
              left: 0rem / @size;
              top: 0rem/@size;
              //&.active {
              //  position: fixed;
              //  left: 50%;
              //  margin-left: -235rem/@size;
              //}
            }
            &:nth-of-type(2) {
              left: 0rem / @size;
              bottom: -18rem / @size;
            }
          }
        }

      }
    }
    .text-box {
      width: 100%;
      overflow: hidden;
      position: relative;
      div {
        width: 100%;
        img {
          display: block;
          width: 100%;
        }
      }
      i {
        img {
          display: block;
          width: 100%;
          //height: 100%;
        }
        &:nth-of-type(1) {
          width: 100rem / @size;
          //height: 300rem / @size;
          position: absolute;
          left: 100rem / @size;
          top: 50%;
          //margin-top: -150rem / @size;
          //transform: translateY(-10%);
          -webkit-transition-property: -webkit-transform;
          -webkit-transition-duration: 1s;
          -moz-transition-property: -moz-transform;
          -moz-transition-duration: 1s;
          -webkit-animation: topsY 3s linear infinite;
          -moz-animation: topsY 3s linear infinite;
          -o-animation: topsY 3s linear infinite;
          animation: topsY 3s linear infinite;
        }
        &:nth-of-type(2) {
          width: 230rem / @size;
          //height: 650rem / @size;
          position: absolute;
          left: 300rem / @size;
          top: 50%;
          //margin-top: -325rem / @size;
          transform: translateY(-10%);
        }
      }
    }
  }
}
